/* Global
------------------------------------------------------------------ */

:root {
    box-sizing: border-box;

    --Neutral-900: hsl(33, 15%, 15%);
    --Neutral-800: hsl(33, 22%, 20%);
    --Neutral-700: hsl(32, 20%, 29%);
    --Neutral-600: hsl(33, 17%, 41%);
    --Neutral-400: hsl(36, 22%, 86%);
    --Neutral-200: hsl(30, 24%, 93%);
    --Neutral-100: hsl(35, 60%, 96%);
    --Neutral-50: hsl(40, 60%, 98%);
    --Neutral-0: hsl(0, 0%, 100%);

    --Sun-500: hsl(42, 83%, 58%);
    --Sun-300: hsl(44, 84%, 75%);
    --Sun-200: hsl(45, 100%, 74%);
    --Sun-50: hsl(41, 100%, 93%);

    --Terracotta-700: hsl(15, 69%, 37%);
    --Terracotta-600: hsl(15, 74%, 41%);
    --Terracotta-500: hsl(18, 62%, 47%);
    --Terracotta-400: hsl(22, 72%, 56%);

    --Blue-500: hsl(230, 49%, 56%);
    --Rose-500: hsl(340, 48%, 52%);
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-size: 0.875rem;
    background-color: var(--Neutral-200);
    padding: 0;
    margin: 0;
    font-family: dm-sans, sans-serif;
}

ul {
    list-style: none;
}

button:hover {
    cursor: pointer;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.show-menu-btn {
    width: 35px;
    height: 30px;
    font-size: 1rem;
}

.btn {
    border-radius: 15px;
    width: 170px;
    height: 45px;
    font-size: 1rem;
}

.btn-one {
    background-color: var(--Neutral-100);
    color: var(--Neutral-900);
    border: 0;
    box-shadow: 1px 1px 3px gray;
    transition: all 0.3s;
}

.btn-one:hover {
    box-shadow: 3px 3px 3px 3px gray;
    background-color: var(--Neutral-200);
    transform: scale(1.05);
}

.btn-two {
    background-color: var(--Neutral-900);
    color: var(--Neutral-200);
    border: 0;
    box-shadow: 1px 1px 3px gray;
    transition: all 0.3s;
}

.btn-two:hover {
    background-color: var(--Neutral-800);
    box-shadow: 3px 3px 3px 3px gray;
    transform: scale(1.05);
}

.price {
    font-family: dm-mono, sans-serif;
}

/* Header
------------------------------------------------------------------ */

#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 15px;
    border-bottom: 1px solid var(--Neutral-400);
    background-color: var(--Neutral-200);
}

.header-full {
    height: 100vh;
}

.overflow-hidden {
    overflow: hidden;
}

#header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#menu {
    position: static;
    border: 0;
    border-top: 1px solid var(--Neutral-400);
    margin-top: 20px;
    background-color: inherit;
    width: 100%;
    height: 100%;
    padding: 10px;
}

#menu nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#menu nav a {
    text-decoration: none;
    color: var(--Neutral-800);
    font-size: 1rem;
    display: flex;
    gap:10px;
    padding:10px;
    border-radius: 5px;
}

#menu nav a:target{
    background-color: var(--Neutral-0);
    color: var(--Neutral-900);
    font-weight: bold;
}

#menu nav a:hover:not(:target){
    transform: translate(5px);
    font-weight: bold;
}

/* Booking status
------------------------------------------------------------------ */

.booking-status {
    text-transform: uppercase;
    font-size: 0.75rem;
    color: var(--Neutral-600);
    font-weight: 500;
    margin-top: 90px;
}

.booking-status ul {
    padding: 0;
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.booking-status li:nth-of-type(n + 2)::marker {
    content: "·"
}

.booking-status li:nth-of-type(n + 2) {
    padding-left: 5px;
}

/* Hello section 
------------------------------------------------------------------ */

.hello-section h2 {
    margin: 0 0 15px 10px;
    font-size: 2.5rem;
}

.hello-section h2 span {
    color: var(--Terracotta-700);
    font-style: italic;
}

.hello-section .buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Cards section 
------------------------------------------------------------------ */

.cards-section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 20px;
    row-gap: 15px;
}

/* Welcome card 
------------------------------------------------------------------ */

.welcome-card {
    background-image: radial-gradient(circle at top right,
            var(--Terracotta-400),
            var(--Terracotta-500),
            var(--Terracotta-600),
            var(--Terracotta-700));
    padding: 15px;
    border-radius: 10px;
    transform: rotate(3deg);
    flex-basis: 320px;
    font-family: fraunces, sans-serif;
    min-height: 400px;
    box-shadow: -10px 10px 3px gray;
    color: var(--Neutral-100);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
}

.welcome-card .sun-img {
    position: absolute;
    right: 20px;
    top: 40px;
}

.welcome-card h2 {
    font-size: 0.9rem;
    font-weight: 400;
    border-top: 1px dashed var(--Neutral-100);
    padding-top: 10px;
    text-transform: uppercase;
}

.welcome-card .host-note {
    font-size: 1.2rem;
    color: var(--Sun-500);
    margin-bottom: 0.7rem;
}

.welcome-card .host {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.7rem;
}

.welcome-card .content {
    color: var(--Neutral-0);
}

.welcome-card .room {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 0.72rem;
}

.welcome-card .room-name {
    margin-top: 5px;
    font-size: 1.2rem;
}

/* Receipt card 
------------------------------------------------------------------ */

.receipt-card {
    min-height: 400px;
    flex-basis: 320px;
    border-radius: 10px;
    background-image: linear-gradient(to top, var(--Neutral-0) 90%, var(--Neutral-400));
    transform: rotate(-3deg);
    padding: 10px;
    box-shadow: 10px 10px 3px gray;
    border: 1px solid gray;
}

.receipt-card h2 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.receipt-card .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed var(--Neutral-900);
}

.receipt-card .your-stay {
    font-weight: 500;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 16px;
}

.receipt-card .header .right {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
    font-family: dm-mono, sans-serif;
    color: var(--Neutral-700);
}

.receipt-card .header .right p {
    margin: 0;
}

.receipt-card .dates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px dashed var(--Neutral-900);
    padding: 20px 0;
}

.receipt-card .dates .date-item {
    text-align: center;
}

.receipt-card .dates .check {
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--Neutral-700);
}

.receipt-card .dates time {
    font-weight: 500;
    font-size: 2rem;
    font-family: fraunces, sans-serif;
}

.receipt-card .dates time div {
    font-size: 0.8rem;
    font-family: dm-sans, sans-serif;
    font-weight: normal;
    color: var(--Neutral-700);
}

.receipt-card table {
    width: 100%;
    margin-top: 10px;
    padding-bottom: 15px;
}

.receipt-card tr {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.receipt-card tr:has(.total-description) {
    border-top: 1px solid var(--Neutral-900);
    padding-top: 20px;
}

.receipt-card .total-description {
    font-size: 1.2rem;
    color: var(--Neutral-700);
}

.receipt-card .total {
    font-size: 1.5rem;
}

.receipt-card .footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.receipt-card .tags {
    display: flex;
    gap: 10px;
    margin: 0 0 0 5px;
    padding: 0;
    font-style: dm-sans, sans-serif;
    text-transform: uppercase;
    color: var(--Neutral-700)
}

/* Details section 
------------------------------------------------------------------ */

.details-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 40px 0 30px 0;
    padding: 5px;
}

.details-item {
    flex: 1 1 0;
    min-width: 300px;
    max-width: 400px;
    box-shadow: 1px 1px 5px gray;
    border-radius: 10px;
    background-color: var(--Neutral-100);
    padding: 15px;
}

.details-item header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--details-color);
}

.details-item header .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.details-item .number {
    font-size: 1.3rem;
    font-family: fraunces, sans-serif;
    margin: 0;
}

.details-item h3 {
    margin: 0;
}

.details-item img {
    border-radius: 5px;
    padding: 5px;
    background-color: var(--details-color);
}

.details-item .title {
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.details-item .sub-title {
    font-size: 0.9rem;
    color: var(--Neutral-700);
    margin-top: 0;
    margin-bottom: 10px;
}

.details-item .description {
    font-size: 1rem;
    color: var(--Neutral-800);
}

.details-item.arrival {
    --details-color: var(--Terracotta-700);
}

.details-item.wifi {
    --details-color: var(--Blue-500);
}

.details-item.wifi .description {
    background-color: var(--Neutral-400);
    color: var(--Neutral-900);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details-item.breakfast {
    --details-color: var(--Rose-500);
}

.copy-btn {
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--Neutral-900);
    border: 1px solid gray;
}